
<% if @photos.any? %>
  <% @photos.each do |photo| %>
    <%= link_to photo.name, photo_path(photo) %>

    <%= link_to "Edit #{photo.name}", edit_photo_path(photo) %>
  <% end %>
<% else %>
  <h1>No photos yet!</h1>
<% end %>

 <h3><%= link_to 'Add photo', new_photo_path %></h3>